.flex-grid {
  display: flex;
}
.col {
  flex: 2;
  padding: 5px;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }

.flex-grid-halves {
  display: flex;
  justify-content: space-between;
}
  
.flex-grid-halves .col {
  width: 50%;
}
