@charset "UTF-8";
/* CSS Document */

body {
		font-family:Arial, Helvetica, sans-serif; 
		background-color:#f2e7c6;
		line-height: 30px;
		margin: 0;
	}
.header {
		background-image: url("images/indaris_parchment.jpg");
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		border: 1px solid #f2e4a2;
	}


figcaption {
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 14px;
}
	
	/*style for the quote, because quote is centered if I just use the quote element*/
	.indent {
		font-family:Arial, Helvetica, sans-serif;
		margin-left:40px;
		line-height: 20px;
	}
	/*outer div that houses "tulane"*/
	.wrapper {
		width: 100%;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
		margin-top:20px;
		padding:10px;
		/*border: 2px solid black;*/
	}
	
	
	
	/*.begin {
		width:100%;
		max-width:1040px;
		margin-left:auto;
		margin-right:auto;
		margin-top:0px;
		margin-bottom:20px;
		padding:20px;
	
	}
	/* tulane is inner div inside of "wrapper"; history is name of divs on History page*/
	.tulane, .history {
		width: 100%;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;

	}
	.tulane {
		border: 10px solid #030;
		padding: 20px;
	}
	.history {
		height: 100%;
	}

	
/*style for the para which used to be a heading the but link styles didn't work
	 .macaroni {
		  font-size:20px;
		  line-height:30px;
		  color:#330;
		  margin-bottom:18px;
	  }*/

nav, nav ul, nav li {
		font-family:Verdana, Geneva, sans-serif;
		font-size: 24px;
		font-color:#330;
		margin-bottom:10px;
		text-align: center;
}

nav ul {
		list-style-type:none;
		margin:0;
		padding:0px;
	}
	
	nav li {
		display: inline;
}

	p {
		font-size: 18px;
	}
		
p.smaller {
		font-size: 14px;
	}

	/* adds padding around the nav items--not in use on homepage*/
	.button {
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	a:link {
		color:#339;
		text-decoration: none;
	}
	
	a:visited {
		color:#6e0d25;
	}
	
	a:hover {
		color:#930;
	}
	
	a:active {
		color:#0F0;
	}
	
		
	img {
		width: 100%;
		max-width: 570px;
		
	}

	h2, .fig-style {
		text-align: center;
	}


	h1 {
		  /*font-size:108px;*/
		  font-size: 700%;
		  line-height:50px;
		  padding-left: 50px;
		  padding-top: 25px;
		  margin-bottom:0px;
		  font-family: 'Meddon', cursive;
	  }
	  h2, h1, h4, p.heading-style {	
	  		color:#330;
	  }

	  h2, h4 {
	  	font-size: 28px;
	  	margin-bottom: 20px;
	  	margin-top:20px;
	  }
	  p.heading-style {
	  	font-size: 24px;
	  	text-transform: uppercase;
	  	margin-bottom: 20px;
	  }
	  
	  h3 {
		 font-size:46px;
		  line-height:40px;
		  color:#3f3b3b;
		  margin-bottom:30px;
		  text-align:center;
	  }
	  h4 {
	  	text-align: left;
	  }

	  
	  p {
		  margin-bottom:20px;
		 padding-bottom:0px;
		  padding-top:0px;
		  padding-left:20px;
		  padding-right:20px;
		  
	  }
	  .act {
		  font-size:24px;
		  line-height:  36px;
		  color: #330;
	  }

	  .img-left {
	  	float: left;
	  	width: 50%;
	  	max-width: 285px;
	  	/*max-height: 285px;*/
	  }

	.img-right {
		float: right;
		width: 50%;
		max-width: 285px;
		/*max-height: 285px;
	}

	/* this class attempts to align vertically the text that appears next to the images.*/
	.flex-center-vertically {
		display: inline;
		justify-content: center;
		flex-direction: column;
		
	}

	/*this class adds space between the flex-center-vertically content*/
	.blank {
		height: 30px;
	}
	




